builds/CARLA_Build_One.json
{
  "name": "CARLA_Build_One",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "carla-create-booking",
        "responseMode": "lastNode"
      },
      "id": "Webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "functionCode": "const body = $json;

const calendarId = body.calendar_id || body.item_id || 'unknown';
const description = (body.description || '').toLowerCase();
const summary = (body.summary || '').toLowerCase();
const isHold = summary.includes('hold') || description.includes('hold');

const studioMap = {
  'Studio A': { sku: 'studio-a', checkfrontId: 5288 },
  'Studio B': { sku: 'studio-b', checkfrontId: 99834 },
  'Studio C': { sku: 'studio-c', checkfrontId: 99835 },
  'Studio D': { sku: 'studio-d', checkfrontId: 99836 },
  'Studio E': { sku: 'studio-e', checkfrontId: 99837 }
};

const studioName = body.booking_item || body.studio || 'Studio B';
const meta = studioMap[studioName] || { sku: 'unknown', checkfrontId: 99834 };

return [{
  json: {
    ...body,
    isHold,
    ...meta
  }
}];"
      },
      "id": "Transform Metadata",
      "name": "Transform Metadata",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [300, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isHold }}",
              "value2": true
            }
          ]
        }
      },
      "id": "Check if HOLD",
      "name": "Check if HOLD",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://centra-studios.manage.na1.bookingplatform.app/api/3.0/booking",
        "jsonParameters": true,
        "bodyParametersJson": "={\n  \"items\": {\n    \"99834\": {\n      \"qty\": 1,\n      \"date\": \"2025-05-28\",\n      \"start_time\": \"10:00\",\n      \"end_time\": \"12:00\"\n    }\n  },\n  \"customer\": {\n    \"first_name\": \"Webhook\",\n    \"last_name\": \"Test\",\n    \"email\": \"webhook@example.com\"\n  },\n  \"status\": \"PEND\"\n}"
      },
      "id": "Create HOLD Booking",
      "name": "Create HOLD Booking",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [700, 200]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://centra-studios.manage.na1.bookingplatform.app/api/3.0/booking",
        "jsonParameters": true,
        "bodyParametersJson": "={\n  \"items\": {\n    \"99834\": {\n      \"qty\": 1,\n      \"date\": \"2025-05-28\",\n      \"start_time\": \"10:00\",\n      \"end_time\": \"12:00\"\n    }\n  },\n  \"customer\": {\n    \"first_name\": \"Webhook\",\n    \"last_name\": \"Test\",\n    \"email\": \"webhook@example.com\"\n  },\n  \"status\": \"PEND\"\n}"
      },
      "id": "Create Confirmed Booking",
      "name": "Create Confirmed Booking",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [700, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Transform Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Metadata": {
      "main": [
        [
          {
            "node": "Check if HOLD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if HOLD": {
      "main": [
        [
          {
            "node": "Create HOLD Booking",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Confirmed Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": "CARLA_Webhook_Sync"
}
