builds/CARLA_Build_One.json
{
  "name": "CARLA Webhook Auth",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "carla-create-booking",
        "responseMode": "onLastNode",
        "options": {}
      },
      "id": "Webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [],
          "string": [
            {
              "value1": "={{$query.token}}",
              "operation": "equal",
              "value2": "supersecrettoken123"
            }
          ]
        }
      },
      "id": "Check Token",
      "name": "Check Token",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "Unauthorized"
            }
          ]
        }
      },
      "id": "Set Unauthorized",
      "name": "Set Unauthorized",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        600,
        450
      ]
    },
    {
      "parameters": {
        "responseCode": 403,
        "responseMode": "lastNode",
        "options": {},
        "responseData": "={{$json[\"message\"]}}"
      },
      "id": "HTTP 403",
      "name": "HTTP 403",
      "type": "n8n-nodes-base.httpResponse",
      "typeVersion": 1,
      "position": [
        800,
        450
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "Token accepted. You may proceed."
            }
          ]
        }
      },
      "id": "Set OK",
      "name": "Set OK",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        600,
        150
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Token": {
      "main": [
        [
          {
            "node": "Set OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Unauthorized": {
      "main": [
        [
          {
            "node": "HTTP 403",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}